@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@theme {
  --color-brown: #53423e;
  --color-lightbrown: #645550;
  --color-purple: #140d52;
  --color-lightpurple: #5a4bda;

  --default-font-family:'josefin sans';
  --fontfamily-special:'roboto';

  --screen-sm:'350px';
  --screen-md:'768px';
  --screen-lg:'1024px';
  --screen-xl:'1280px';
  --screen-2xl:'1536px'; 

  --boxShadow-cyanShadow: 0px 0px 20px 0px rgba(94,206,220,0.5);
}
body{
  font-family:'josefin Sans';
  background-color: #53423e;
}